# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# Xcode files
*.xcodeproj
*.xcscheme
*.pbxproj
*.plist

Unix_C/Extra_Code/Lec_Check/Lec1/exponent

*.swp

Unix_C/Extra_Code/Lec_Check/Lec1/cubes
